.clientdata-head{
    text-align: center;
    font-family: roboto;
    font-weight: bold;
    padding: 4vh;
}
.main-table{
    border:2px solid black;
    margin: 2vw;
   

}
.table-head{
    display: flex;
    flex-direction: row;
    
}
.table-header{
    padding: 1vw;
    padding-right: 3vw;
    border-bottom:1px solid black ;


 
}
.tabledata-details{
    border-bottom:1px solid black ;
}
.delete-button{
    background-color: rgb(255, 31, 31);
    border: none;
    border-radius: 0.3vw;
    color: white;
    font-size:2.53vh;
    font-family: roboto;
    
}
.delete-button:hover{
    background-color: rgb(255, 31, 31);
    border: none;
    border-radius: 0.3vw;
    color: white;
    font-size:2.8vh;
    box-shadow: 0 2px 8px 0 rgba(10, 10, 10, 0.2), 0 4px 20px 0 rgba(24, 16, 16, 0.555);
    font-family: roboto;
    
}